---
component: Progress indicator
layout: main-layout.html
analytics:
  pageCategory: component
  component: progress-indicator
---

<a href="https://design.atlassian.com/latest/product/components/progress-indicators/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p>Progress indicators inform users that a system process is currently taking place that takes a predictable amount
    of time before it is finished.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><aui-lozenge type="current">Not in core</aui-lozenge> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-progress-indicator">
                <code>com.atlassian.auiplugin:aui-progress-indicator</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.2</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>
<h3>Examples</h3>

<div class="aui-flatpack-example">
    <div id="docs-progress-bar" class="aui-progress-indicator">
        <span class="aui-progress-indicator-value"></span>
    </div>
    <div class="aui-group">
        <button id="toggle-progress-button" class="aui-button">Toggle</button>
    </div>
    <script type="text/javascript">
        AJS.$(function () {
            AJS.$("#toggle-progress-button").click(function () {
                if (AJS.$("#docs-progress-bar").attr("data-value")) {
                    AJS.progressBars.setIndeterminate("#docs-progress-bar");
                } else {
                    AJS.progressBars.update("#docs-progress-bar", 1);
                }
            });
        });
    </script>
</div>
<h3>Code</h3>

<p>To get an initial progress bar simply include the markup.</p>
<p> To update the progress bar you can call the update method: </p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
            <div id="some-id" class="aui-progress-indicator">
                <span class="aui-progress-indicator-value"></span>
            </div>
        </noscript>
    <noscript is="aui-docs-code" type="text/js">
        AJS.progressBars.update("#some-id", 0.2);
    </noscript>
</aui-docs-example>
<h3>Options</h3>

<p>All progress indicator functions are called from the global object AJS.progressBars</p>
<table class="aui" id="progress-indicators-table">
    <thead>
    <tr>
        <th>Function</th>
        <th>Arguments</th>
        <th class="description">Description</th>
        <th>Example Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>update</td>
        <td>element, value</td>
        <td>updates the specified progress bar to the specified value.
            <ul>
                <li>The element argument can be either a jQuery object a selector string or a javascript node.</li>
                <li>The value must be between 0 and 1</li>
            </ul>
        </td>
        <td>
            <noscript is="aui-docs-code" type="text/js">AJS.progressBars.update("progress-bar-id", 0.4);</noscript>
        </td>
    </tr>
    <tr>
        <td>setIndeterminate</td>
        <td>element</td>
        <td> Sets a determinate progress bar back to its indeterminate state. NOTE: This will lose any progress on
            the progress bar. To retain the current progress you can read the 'data-value' attribute on the DOM
            Element.
        </td>
        <td>
            <noscript is="aui-docs-code" type="text/js">AJS.progressBars.setIndeterminate("progress-bar-id");</noscript>
        </td>
    </tr>
    </tbody>
</table>
