---
component: Tabs
layout: main-layout.html
analytics:
  pageCategory: component
  component: tabs
---

<a href="https://design.atlassian.com/latest/product/components/tabs/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>
<p>Tabs are used for alternating between views within the same context, not to navigate to different areas. For navigation refer to the horizontal navigation guidelines.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:ajs"><code>com.atlassian.auiplugin:ajs</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.0</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <div class="aui-tabs horizontal-tabs" id="tabs-example1" role="application">
        <ul class="tabs-menu" role="tablist">
            <li class="menu-item active-tab" role="presentation">
                <a href="#tabs-example-first" id="aui-uid-0" role="tab" aria-selected="true">Designers</a>
            </li>
            <li class="menu-item" role="presentation">
                <a href="#tabs-example-second" id="aui-uid-1" role="tab" aria-selected="false">Developers</a>
            </li>
            <li class="menu-item" role="presentation">
                <a href="#tabs-example-third" id="aui-uid-2" role="tab" aria-selected="false">PMs</a>
            </li>
        </ul>
        <div class="tabs-pane active-pane" id="tabs-example-first" role="tabpanel" aria-hidden="false" aria-labelledby="aui-uid-0">
            <h3>Designers</h3>
            <table class="aui">
                <thead>
                    <tr>
                        <th id="basic-number">#</th>
                        <th id="basic-fname">First name</th>
                        <th id="basic-lname">Last name</th>
                        <th id="basic-username">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="basic-number">1</td>
                        <td headers="basic-fname">Matt</td>
                        <td headers="basic-lname">Bond</td>
                        <td headers="basic-username">mbond</td>
                    </tr>
                    <tr>
                        <td headers="basic-number">2</td>
                        <td headers="basic-fname">Ross</td>
                        <td headers="basic-lname">Chaldecott</td>
                        <td headers="basic-username">rchaldecott</td>
                    </tr>
                    <tr>
                        <td headers="basic-number">3</td>
                        <td headers="basic-fname">Henry</td>
                        <td headers="basic-lname">Tapia</td>
                        <td headers="basic-username">htapia</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs-pane" id="tabs-example-second" role="tabpanel" aria-hidden="true" aria-labelledby="aui-uid-1">
            <h3>Developers</h3>
            <table class="aui">
                <thead>
                    <tr>
                        <th id="basic-number">#</th>
                        <th id="basic-fname">First name</th>
                        <th id="basic-lname">Last name</th>
                        <th id="basic-username">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="basic-number">4</td>
                        <td headers="basic-fname">Seb</td>
                        <td headers="basic-lname">Ruiz</td>
                        <td headers="basic-username">sruiz</td>
                    </tr>
                    <tr>
                        <td headers="basic-number">7</td>
                        <td headers="basic-fname">Sean</td>
                        <td headers="basic-lname">Curtis</td>
                        <td headers="basic-username">scurtis</td>
                    </tr>
                    <tr>
                        <td headers="basic-number">8</td>
                        <td headers="basic-fname">Matthew</td>
                        <td headers="basic-lname">Watson</td>
                        <td headers="basic-username">mwatson</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tabs-pane" id="tabs-example-third" role="tabpanel" aria-hidden="true" aria-labelledby="aui-uid-2">
            <h3>Product management</h3>
            <table class="aui">
                <thead>
                    <tr>
                        <th id="basic-number">#</th>
                        <th id="basic-fname">First name</th>
                        <th id="basic-lname">Last name</th>
                        <th id="basic-username">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="basic-number">5</td>
                        <td headers="basic-fname">Jens</td>
                        <td headers="basic-lname">Schumacher</td>
                        <td headers="basic-username">jschumacher</td>
                    </tr>
                    <tr>
                        <td headers="basic-number">6</td>
                        <td headers="basic-fname">Sten</td>
                        <td headers="basic-lname">Pittet</td>
                        <td headers="basic-username">spittet</td>
                    </tr>
                    <tr>
                        <td headers="basic-number">9</td>
                        <td headers="basic-fname">James</td>
                        <td headers="basic-lname">Dumay</td>
                        <td headers="basic-username">jdumay</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- .aui-tabs -->
</div>
<h3>Code</h3>
<h4>HTML</h4>
<p>AUI Tabs core API is HTML and has three key parts:</p>
<ul>
    <li>.aui-tabs: The root element of the AUI Tabs</li>
    <li>Tab pairs - each tab must have a control in the menu and a corresponding tab pane:
        <ul>
            <li>.tabs-menu: The menu of controls to change which tab pane is active</li>
            <li>.tabs-pane: Each pane contains the content of one tab</li>
        </ul>
    </li>
</ul>
<p>Notes:</p>
<ul>
    <li>Remember all IDs must be unique in each given page/location.</li>
    <li>Each menu item is an li element with an A element inside. The A element must contain an href to the appropriate tab-pane id.</li>
    <li>One instance of li.menu-item must have the class <code>active-tab</code>
    </li>
    <li>One instance of .tab-pane must have the class <code>active-pane</code>
    </li>
</ul>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-tabs horizontal-tabs">
            <ul class="tabs-menu">
                <li class="menu-item active-tab">
                    <a href="#tabs-example-first">Tab 1</a>
                </li>
                <li class="menu-item">
                    <a href="#tabs-example-second">Tab 2</a>
                </li>
            </ul>
            <div class="tabs-pane active-pane" id="tabs-example-first">
                <h2>This is tab 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="tabs-pane" id="tabs-example-second">
                <h2>This is tab 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </noscript>
</aui-docs-example>

<h3>Options</h3>
<table class="aui">
    <tbody>
        <tr>
            <th scope="col">Class</th>
            <th scope="col">Applies to element</th>
            <th scope="col">Effect</th>
        </tr>
        <tr>
            <td><code>horizontal-tabs</code>
            </td>
            <td>.aui-tabs&nbsp;</td>
            <td>Sets the tab set to display as horizontal tabs (triggers across the top)</td>
        </tr>
        <tr>
            <td><code>vertical-tabs</code>
            </td>
            <td>.aui-tabs&nbsp;</td>
            <td>Sets the tab set to display as vertical tabs (triggers on the left)</td>
        </tr>
        <tr>
            <td><code>aui-tabs-disabled</code>
            </td>
            <td>.aui-tabs</td>
            <td>
                <p>Disables the tab set, so the triggers behave as links. Sometimes referred to as "page tabs" as the design looks like tabs, but each "tab" behaves like a standard HTML page (loads via a separate URL).</p>
                <p>Note this will stop the tab links having tab events bound during load. Applying the class after the page has loaded has no effect.</p>
            </td>
        </tr>
        <tr>
            <td><code>active-tab</code>
            </td>
            <td>one instance of .menu-item per tab set</td>
            <td>Sets the active tab trigger on initial page load.</td>
        </tr>
        <tr>
            <td><code>active-pane</code>
            </td>
            <td>one instance of .tabs-pane per tab set</td>
            <td>Sets the active tab pane on initial page load.</td>
        </tr>
    </tbody>
</table>
<table class="aui">
    <tbody>
        <tr>
            <th scope="col">HTML Attributes</th>
            <th scope="col">Applies to element</th>
            <th scope="col">Effect</th>
            <th scope="col">Example</th>
        </tr>
        <tr>
            <td><code>data-aui-persist</code>
            </td>
            <td>.aui-tabs</td>
            <td>Sets whether tab state is persistent. If this attribute is defined, tab selection is persisted in the user's browser using <a href="http://diveintohtml5.info/storage.html">HTML5 local storage</a>. If this attribute is defined, the tab group
                and each tab must have an id attribute defined. The value for the data-aui-persist attribute can be one of:
                <ul>
                    <li><code>true</code> or empty - for the default case</li>
                    <li><code>false</code> - selection is not persisted</li>
                    <li>any other value - the attribute value is appended to the local storage key. This is typically used to separate local storage per-user in the same browser - eg <code>data-aui-persist="username"</code>
                    </li>
                </ul>
            </td>
            <td>
                <noscript is="aui-docs-code" type="text/html">
                    // example of enabling persistent tabs. No value is given so default key is used.
                    <div class="aui-tabs horizontal-tabs" data-aui-persist></div>

                    // example of enabling persistent tabs with unique value. Here the unique value is the users name.
                    <div class="aui-tabs horizontal-tabs" data-aui-persist="username"></div>
                </noscript>
            </td>
        </tr>
        <tr>
            <td><code>data-aui-responsive</code>
            </td>
            <td>.aui-tabs.horizontal-tabs</td>
            <td>Makes the set of tabs responsive to the size of the container. This means that instead of wrapping the overflowing tabs will be placed into a dropdown.
                <p> The presence of the attribute is enough to enable the option however you can also explicitly pass in <code>true</code>.</p>
            </td>
            <td>
                <noscript is="aui-docs-code" type="text/html">
                    <div class="aui-tabs horizontal-tabs" data-aui-responsive></div>
                </noscript>
            </td>
        </tr>
    </tbody>
</table>



<h4>JavaScript functions</h4>
<p>AUI Tabs can be implemented entirely using HTML markup however there are some javascript functions available.</p>
<table class="aui">
    <tbody>
        <tr>
            <th scope="col">Function</th>
            <th scope="col">Effect</th>
            <th scope="col">Example</th>
        </tr>
        <tr>
            <td><code>AJS.tabs.change(tab, e);</code>
            </td>
            <td>
                <p>Programmatically changes the active tab.</p>
                <ul>
                    <li><code>tab</code> - This must be a jQuery object of the anchor for the tab you wish to change to.</li>
                    <li><code>e</code> - Optional. You can also pass in an event if you choose to call this from an event handler.</li>
                </ul>
            </td>
            <td>
                <noscript is="aui-docs-code" type="text/js">
                    AJS.tabs.change(jQuery('a[href="#horizontal-second"]'));
                </noscript>
            </td>
        </tr>
        <tr>
            <td><code>AJS.tabs.setup()</code>
            </td>
            <td>This function is run when AJS.tabs is first loaded; it sets up events etc. You will need to run this again if you add new tab sets after page load.</td>
            <td>
                <noscript is="aui-docs-code" type="text/js">
                    AJS.tabs.setup();
                </noscript>
            </td>
        </tr>
    </tbody>
</table>
<h4>JavaScript events</h4>
<p>AJS.tabs only emits one event: <code>tabSelect</code>. When a tab is selected, it fires <code>tabSelect</code> which includes a reference to an object containing both the pane and the tab selected.</p>
