@import './imports/global';

// variables
@aui-sidebar-grid: @aui-grid; // default AUI grid width
@aui-sidebar-spacing: @aui-sidebar-grid * 1.5;
@aui-sidebar-base-line-height: 20px; // pixel value of AUI line height
@aui-sidebar-footer-height: (@aui-sidebar-base-line-height + (2 * @aui-sidebar-grid)); // footer height
// end variables

// mixins
#aui-sidebar {
    // used in the collapsed state to indicate nested content (either twixi link or generic h5+ul)
    .sidebar-dropdown-arrow() {
        border: 3px solid transparent;
        border-top-color: @aui-sidebar-dropdown-arrow-color;
        content: "";
        height: 0;
        position: absolute;
        left: 70%;
        top: (@aui-sidebar-spacing);
        width: 0;
    }
}
// end mixins

.aui-page-sidebar {
    #footer {
        #aui.box-sizing();
        padding-left: @aui-sidebar-width;
    }

    &.aui-sidebar-collapsed {
        #footer {
            padding-left: @aui-sidebar-collapsed-width;
        }
    }
}

.aui-page-sidebar-touch {
    #footer {
        margin-left: 0;
        padding-left: inherit;
        border-top: 1px solid @aui-border-color;
    }

    &.aui-sidebar-collapsed #footer {
        padding-left: inherit;
    }
}

.aui-sidebar,
.aui-sidebar-submenu {
    #aui.box-sizing();
    min-width: @aui-sidebar-collapsed-width;

    position: absolute;
    .aui-page-sidebar-touch &:not(.aui-sidebar-submenu) {
        background-color: @aui-background-color;
        float: left;
        position: static;
    }

    width: @aui-sidebar-width;

    // TODO: Remove this when sidebar is managed by Layer Manager (AUI-3665).
    z-index: 1;

    // handle page layouts that have an AUI Page Header in addition to a sidebar
    + .aui-page-header {
        #content & { // increase the selector strength to trump AUI page layout
            padding-left: @aui-sidebar-width + (@aui-grid * 2);
            background: @aui-sidebar-layout-page-header-background-color;
        }

        // handle horizontal nav below page header
        + .aui-navgroup {
            padding-left: @aui-sidebar-width + (@aui-grid);
        }
    }

    + .aui-page-panel {
        border-top: none;
    }

    ~ .aui-page-panel {
        margin-top: 0;
        padding-left: @aui-sidebar-width;

        .aui-page-sidebar-touch & {
            border-bottom: none;
            border-left: 1px solid @aui-border-color;
            clear: none;
            margin-left: @aui-sidebar-width;
            padding-left: inherit;
            width: inherit;
        }

    }

    // when the sidebar sits over the content
    &.aui-sidebar-fly-out {

        .aui-page-sidebar-touch & {
            border-right: 1px solid @aui-border-color;
            height: 100%;
            position: absolute;
        }

        ~ .aui-page-panel {
            padding-left: @aui-sidebar-collapsed-width;
            .aui-page-sidebar-touch & {
                margin-left: @aui-sidebar-collapsed-width;
                padding-left: inherit;
            }
            z-index: 0;
        }

        + .aui-page-header {
            #content & {
                padding-left: @aui-sidebar-collapsed-width + (@aui-grid * 2);
            }
        }

    }

    .aui-sidebar-wrapper {
        #aui.box-sizing();
        border-right: 1px solid @aui-border-color;
        background-color: @aui-sidebar-background-color;
        width: @aui-sidebar-width;
        position: absolute;
        top: 0;
        bottom: auto;

        &.aui-is-docked {
            position: fixed;
            top: 0;
            bottom: auto;
        }

        .aui-page-sidebar-touch & {
            position: static;
        }
    }

    .aui-page-sidebar-touch & .aui-sidebar-wrapper {
        border-right: none;
    }
    .aui-page-sidebar-touch &.aui-sidebar-fly-out .aui-sidebar-wrapper {
        border-right: 1px solid @aui-border-color;
    }

    .aui-sidebar-body {
        #aui.box-sizing(content-box);
        bottom: @aui-sidebar-footer-height;
        overflow-y: auto;

        position: absolute;
        .aui-page-sidebar-touch & {
            position: relative;
        }

        top: 0;
        width: 100%;
    }

    // Tweak existing page-header when shown inside the sidebar
    .aui-page-header {
        margin: (@aui-sidebar-spacing) (@aui-sidebar-spacing) 0 (@aui-sidebar-spacing);
        padding-bottom: 0;

        .aui-avatar {
            display: block;
        }
    }

    .aui-page-header-inner,
    .aui-page-header-image,
    .aui-page-header-main {
        display: block;
    }

    .aui-page-header-image {
        position: absolute;

        + .aui-page-header-main {
            padding-left: (@aui-sidebar-grid + @aui-avatar-size-large);
        }
    }

    .aui-sidebar-header-large {
        .aui-page-header-image {
            width: @aui-avatar-size-xxxlarge;
            margin: 0 auto;
            position: inherit;

            + .aui-page-header-main {
                padding-top: @aui-sidebar-grid;
                padding-left: 0;
            }
        }

        .aui-page-header-main {
            text-align: center;

            > h1,
            > h2, {
                padding-top: @aui-sidebar-grid;
                font-size: @aui-font-size-xlarge;
                line-height: @aui-heading-xlarge-line-height;
            }

            > h1:only-child,
            > h2:only-child, {
                padding-top: 0;
            }
        }
    }

    .aui-page-header-main {
        padding-top: (@aui-avatar-size-large - (@aui-sidebar-base-line-height * 2)) / 2; // avatar - 2 lines of heading text divided by 2 for top and bottom padding to center it vertically

        > h1,
        > h2 {
            #aui.text-truncate();
            font-size: @aui-font-size-medium;
            line-height: @aui-sidebar-base-line-height;
        }

        > h1:only-child,
        > h2:only-child, {
            line-height: @aui-avatar-size-large;
        }
    }

    .aui-page-header-actions {
        display: none; // page header actions should be rendered as a list under the main <nav class="aui-navgroup-vertical">
    }

    .aui-nav-breadcrumbs > li {
        width: 100%;
    }
    // END page header tweaks

    // optional handle to adjust the width of the sidebar
    .aui-sidebar-handle {
        @sidebar-handle-width: @aui-sidebar-grid;
        background:#fff url(images/icons/sidebar/icon-handle.png) center center no-repeat;
        cursor: col-resize;
        height: 100%;
        position: absolute;
        right: -@sidebar-handle-width;
        top: 0;
        width: @sidebar-handle-width;
    }

    .aui-sidebar-footer {
        #aui.box-sizing();
        border-top: 1px solid @aui-border-color;
        bottom: 0;
        min-height: @aui-sidebar-footer-height;
        padding: (@aui-sidebar-grid / 2) (@aui-sidebar-grid * 4) 0 (@aui-sidebar-grid - 1);
        position: absolute;
        width: 100%;

        .aui-page-sidebar-touch & {
            border-bottom: 1px solid @aui-border-color;
            margin-top: @aui-sidebar-grid;
            position: relative;
        }

        .aui-button {
            #aui.text-truncate();
            max-width: 100%;
        }

        > .aui-sidebar-settings-button,
        > .aui-sidebar-toggle {
            border: 0;
            border-radius: 0;
            height: auto;
            padding: (@aui-sidebar-grid - 1) @aui-sidebar-spacing;

            > .aui-icon {
                height: @aui-icon-size-small;
                width: @aui-icon-size-small;
            }

            &:hover,
            &:focus {
                background: @aui-nav-link-active-bg-color none;
                color: @aui-button-subtle-text-color;
                text-shadow: none;
            }

            &:active {
                #aui.shadow.inner(none);
            }
        }

        > .aui-sidebar-settings-button {
            margin-top: -(@aui-sidebar-grid / 2);
            margin-bottom: -(@aui-sidebar-grid / 2);
            margin-left: -(@aui-sidebar-grid - 1);
            text-shadow: none;

            &.aui-sidebar-settings-selected {
                background-color: @aui-nav-link-active-bg-color;
            }
        }

        > .aui-sidebar-toggle {
            display: block;
            margin-left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: @aui-icon-size-small + (@aui-sidebar-spacing * 2);
            text-overflow: clip; // override the text-overflow truncation on aui-button
            white-space: normal;

            > .aui-icon {
                background: url(images/icons/sidebar/icon-toggle.svg) center center no-repeat;
                background-size: @aui-sidebar-grid;
            }
        }
    }



    .aui-navgroup-inner .aui-sidebar-button {
        margin-bottom: @aui-sidebar-grid;
        margin-left: 3px;

        > .aui-icon {
            margin-right: 3px;
        }
    }

    .aui-nav-item-label {
        #aui.text-truncate();
        display: block;
        word-wrap: normal;
    }

    .aui-navgroup-vertical .aui-nav {
        // AUI Nav's default border extends to the full width of the sidebar so we override it here
        border-top: 0;

        > li {
            padding: 0 @aui-sidebar-spacing;

            > a {
                #aui.box-sizing();

                &.aui-nav-item {
                    margin: 0 -(@aui-sidebar-spacing);
                    padding-left: @aui-sidebar-spacing; // room on the left for twixies/drag handles
                    padding-right: (@aui-icon-size-small + (@aui-sidebar-grid) ); // room on the right for dropdown action menus
                    line-height: @aui-sidebar-base-line-height;
                }
            }
        }

        .aui-nav {
            &[data-more] {
                .aui-nav-more ~ li {
                    height: 0;
                    overflow: hidden;
                }
            }

            .aui-nav-item {
                margin: 0 -(@aui-icon-size-small + @aui-sidebar-grid / 2) 0 -(@aui-sidebar-spacing);
                padding-right: (@aui-icon-size-small + (@aui-sidebar-grid / 2) ); // room on the right for dropdown action menus
            }

            .aui-nav-item-actions {
                margin-right: 0;
            }
        }

    }

    &[aria-expanded=false] .aui-navgroup-vertical .aui-nav .aui-nav-child-selected a,
    .aui-navgroup-vertical .aui-nav .aui-nav-selected a {
        background-color: @aui-nav-link-active-bg-color;
        color: @aui-nav-link-color;
        font-weight: normal;
    }

    .aui-sidebar-group:first-child .aui-nav-heading:first-child {
        border-top: none;
    }

    .aui-nav {
        > li {
            position: relative;

            > .aui-nav-item {
                #aui.text-truncate();

                > .aui-icon {
                    color: @aui-sidebar-icon-color;
                    height: @aui-sidebar-icon-size;
                    width: @aui-sidebar-icon-size;
                    margin-right: @aui-sidebar-spacing;
                    float: left;

                    &:before {
                        font-size: @aui-sidebar-icon-size;
                        margin-top: -(( @aui-sidebar-icon-size / 2) + 1); // (font-size/2)+1 negative margin - the +1 is for font rendering weirdness across browsers
                    }

                    &.aui-icon-small:before {
                        font-size: @aui-icon-size-small;
                        padding: 2px;
                    }
                }

                > .aui-badge,
                > aui-badge {
                    float: right;
                    // aui-nav sets the line height to 16px, and the aui-badge is supposed to sit on the baseline and have an overall
                    // height of 16px. Sidebar nav items have their line-heights changed to 20px to match the icon sizes,
                    // so we nudge the aui-badge down by 2px so that it is vertically centered with the nav item label
                    margin-top: 2px;
                }
            }
        }

        .aui-nav-heading {
            border-top: none;
            padding-top: 0;
        }
    }

    .aui-nav-heading {
        margin: (@aui-sidebar-grid / 2) @aui-sidebar-spacing 0 @aui-sidebar-spacing;
        padding-left: 0;
        right: 0;
    }

    // divider between multiple aui-sidebar-groups or aui-navs inside the sidebar, without a aui-nav-heading
    hr {
        margin: 5px 15px;
        border: @aui-border-style @aui-border-color;
        border-width: @aui-border-width 0 0 0;
        height: 0;

        + .aui-nav {
            padding-top: 0;
        }
    }

    // twixi for nested navigation
    .aui-navgroup-vertical .aui-nav > li[aria-expanded] {

        > .aui-nav-subtree-toggle {
            margin-left: 0;
        }

        > .aui-nav {
            margin: 0 -(@aui-sidebar-spacing) 0 -(@aui-icon-size-small) - @aui-nav-subtree-indicator-width;

            li {
                padding: 0 (@aui-icon-size-small + (@aui-grid * 0.5) ) 0 (@aui-sidebar-spacing);
            }
        }
    }

    // if it is a tier-one nav item with an icon, make the twixi the same line height as the icon
    .aui-sidebar-group-tier-one > .aui-nav > li[aria-expanded] > .aui-nav-subtree-toggle {
        line-height: @aui-sidebar-base-line-height;
    }

    //-----------------------
    // Sidebar narrow state - add collapsed styles.
    //-----------------------
    &[aria-expanded="false"] {
        width: @aui-sidebar-collapsed-width;

        .aui-sidebar-body {
            overflow-x: hidden; // don't show horizontal scrollbar in collapsed state.
        }

        // handle page layouts that have an AUI Page Header in addition to a sidebar
        + .aui-page-header {
            #content & { // increase the selector strength to trump AUI page layout
                padding-left: @aui-sidebar-collapsed-width + (@aui-grid * 2);
            }

            // handle horizontal nav below page header
            + .aui-navgroup {
                padding-left: @aui-sidebar-collapsed-width + @aui-grid;
            }
        }

        ~ .aui-page-panel {
            padding-left: @aui-sidebar-collapsed-width;
            .aui-page-sidebar-touch & {
                border-left: 1px solid @aui-border-color;
                margin-left: @aui-sidebar-collapsed-width;
                padding-left: inherit;
            }
        }

        .aui-sidebar-wrapper {
            width: @aui-sidebar-collapsed-width;
        }

        .aui-page-header-inner .aui-page-header-image {
            position: relative;
            width: auto;
        }

        .aui-page-header {
            margin-left: 0;
            margin-right: 0;

            .aui-avatar,
            .aui-avatar .aui-avatar-inner {
                height: @aui-sidebar-header-avatar-collapsed;
                width: @aui-sidebar-header-avatar-collapsed;
                margin: 0 0 0 ((@aui-sidebar-collapsed-width - @aui-sidebar-header-avatar-collapsed) / 2);
            }

            .aui-avatar .aui-avatar-inner > img {
                max-height: @aui-sidebar-header-avatar-collapsed;
                max-width: @aui-sidebar-header-avatar-collapsed;
            }
        }

        .aui-page-header-main {
            display: none;
        }

        .aui-sidebar-body {
            #aui.box-sizing();
            bottom: @aui-sidebar-footer-height * 2;
            padding: 0;
            width: 100%;
        }

        .aui-nav-heading,
        hr {
            display: none;
        }

        // Replaces aui-nav with a default image to reflect nested content
        .aui-sidebar-group {
            background: url(images/icons/sidebar/icon-group.png) ((@aui-sidebar-collapsed-width - @aui-sidebar-icon-size) / 2) center no-repeat;
            cursor: pointer;
            height: (@aui-sidebar-grid * 3);
            position: relative;

            &:focus,
            &:hover,
            &.active {
                background-color: @aui-nav-link-active-bg-color;
            }

            &:after {
                #aui-sidebar.sidebar-dropdown-arrow();
            }

            > .aui-nav {
                display: none;
            }

            &.aui-sidebar-group-actions {
                background: none;
                margin-bottom: @aui-sidebar-spacing;
                margin-top: @aui-sidebar-grid;

                &:after {
                    @aui-sidebar-group-actions-border-width: 1px;

                    background: url(images/icons/sidebar/icon-group-actions.svg) no-repeat center center;
                    background-size: @aui-sidebar-icon-size @aui-sidebar-icon-size;
                    border: @aui-sidebar-group-actions-border-width solid @aui-sidebar-background-color;
                    border-radius: 50%;
                    height: @aui-icon-size-large;
                    left: 0;
                    margin-left: ((@aui-sidebar-collapsed-width - @aui-sidebar-header-avatar-collapsed - (@aui-sidebar-group-actions-border-width * 2)) / 2);
                    margin-right: ((@aui-sidebar-collapsed-width - @aui-sidebar-header-avatar-collapsed - (@aui-sidebar-group-actions-border-width * 2)) / 2);
                    top: 0;
                    width: @aui-icon-size-large;
                }

                &:hover,
                &:focus,
                &.active {
                    &:after {
                        background-color: @aui-avatar-project-bg-color;
                        border-color: @aui-nav-group-divider-color;
                    }
                }

                ~ .aui-sidebar-group-tier-one {
                    border-top: 1px solid @aui-nav-group-divider-color;
                    margin-top: @aui-sidebar-spacing;
                    padding-top: @aui-sidebar-grid;
                }
            }
        }



        // use when the nav items have icons - shows the icon in the collapsed state
        .aui-sidebar-group-tier-one {
            background: none;
            height: auto;

            &:after {
                display: none;
            }

            &:focus,
            &:hover {
                background-color: transparent;
            }

            > .aui-nav {
                display: block;
                height: auto;

                > li {
                    display: block;

                    > .aui-nav-item {
                        padding-left: 0;
                        padding-right: 0;
                        text-align: left;

                        // If an aui-badge is present, position it over the icon
                        > .aui-badge,
                        > aui-badge {
                            @aui-badge-collapsed-border-width: 2px;

                            background-color: @aui-sidebar-badge-background-color;
                            border: @aui-badge-collapsed-border-width solid @aui-sidebar-badge-border-color;
                            color: @aui-badge-text-color; // just the normal #333 not the one with alpha transparency
                            font-size: 9px;
                            margin-top: 0;
                            padding: 2px 4px 1px 4px; // reduce the padding by 1px on all sides to better fit smaller font size
                            position: absolute;
                            right: (@aui-sidebar-grid / 2) - @aui-badge-collapsed-border-width; // 5px minus the 2px badge border width, so that the visible badge edge looks like it's 5px from the sidebar border.
                            top: 0;
                            z-index: 1;
                        }

                        // Adjust the position of the icon
                        > .aui-icon {
                            float: none;
                            margin-left: ((@aui-sidebar-collapsed-width - @aui-sidebar-icon-size) / 2);
                            margin-right: 0;
                        }

                        &.active {
                            background-color: @aui-nav-link-active-bg-color;
                        }
                    }

                    // remove all item labels - top level will get displayed in a tipsy on hover
                    .aui-nav-item-label {
                        display: none;
                    }

                    // remove any top level twixy expand/collapse triggers
                    > .aui-nav-subtree-toggle {
                        display: none;
                    }

                    .aui-nav-item-actions {
                        display: none;
                    }
                }



                // remove nested navs - contents to be sucked into fly-out menus
                .aui-nav {
                    display: none;
                }
            }

            ~ .aui-sidebar-group-tier-one {
                border-top: 1px solid @aui-nav-group-divider-color;
                margin-top: @aui-sidebar-grid;
                padding-top: @aui-sidebar-grid;
            }
        }

        // Adjust the sidebar footer for the collapsed state
        .aui-sidebar-footer {
            overflow: hidden;
            padding: (@aui-sidebar-grid / 2) 0 0 0;

            > .aui-sidebar-toggle {
                margin-top: -(@aui-sidebar-grid / 2);
                padding: @aui-sidebar-grid (@aui-sidebar-collapsed-width - @aui-icon-size-small) / 2;
                position: relative;
                width: @aui-sidebar-collapsed-width - @aui-sidebar-border-width;

                > .aui-icon {
                    #aui.rotate(180deg);
                }
            }

            > .aui-button {
                // override the text-overflow truncation on aui-button when sidebar is collapsed
                text-overflow: clip;
                white-space: normal;

                > .aui-button-label {
                    display: none;
                }
            }

            > .aui-sidebar-settings-button {
                display: block;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                max-width: none;
                padding: @aui-sidebar-grid (@aui-sidebar-collapsed-width - @aui-icon-size-small) / 2;

                + .aui-sidebar-toggle {
                    margin-top: 0;
                }
            }
        }

        li[aria-expanded] > a:first-child,
        li[aria-expanded] > span:first-child {
            > .aui-icon:not(.aui-nav-subtree-toggle):after {
                #aui-sidebar.sidebar-dropdown-arrow();
                left: auto;
                right: -7px;
                top: @aui-sidebar-grid;
            }

            &:before {
                display: none;
            }
        }

        .aui-nav-sortable > li > a:after {
            left: 0;
            top: (@aui-sidebar-grid * .8);
        }

        .aui-nav-item-actions {
            display: none;
        }

        .aui-nav > li > a:hover > .aui-nav-item > .aui-badge {
            visibility: visible;
        }

    }
    // END Collapsed state

    &.aui-is-animated {
        + .aui-page-panel {
            #aui.transition(padding-left @aui-sidebar-default-transition-timing ease-in-out);
        }

        .aui-sidebar-wrapper {
            #aui.transition(width @aui-sidebar-default-transition-timing ease-in-out);
        }

        .aui-sidebar-body {
            #aui.transition(padding-top @aui-sidebar-default-transition-timing ease-in-out);
        }
    }
}
// END Sidebar
//-----------------------

.aui-sidebar-submenu-dialog > .aui-inline-dialog-contents {
    padding: @aui-sidebar-grid;
    width: 300px;
    max-height: 812px;
}

.aui-sidebar-submenu {
    position: static;
    background: transparent;
    border-right: 0;
    width: auto;
}

#arrow-sidebar-submenu {
    &:before {
        border-width: 8px 8px 8px 0;
        border-color: transparent #ccc;
    }

    &:after {
        border-width: 8px 8px 8px 0;
        border-color: transparent #ffffff transparent transparent;
        right: 0;
        top: 0;
    }
}

// Adding animations to tipsy
.aui-sidebar-section-tooltip {
    #aui.transition(opacity @aui-sidebar-default-transition-timing ease-in-out);
    opacity: 0;

    .tipsy-inner {
        background: @aui-sidebar-tooltip-background-color;
    }

    .tipsy-arrow {
        border-right-color: @aui-sidebar-tooltip-background-color;
    }

    &.tooltip-shown {
        opacity: 1;
    }
}
