@import '../imports/global';

// AUI avatar web component
aui-avatar {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: text-bottom;

     > aui-avatar-inner {
        display: table-cell;
        height: inherit;
        vertical-align: middle;
        width: inherit;

        > .aui-avatar-img {
            border-radius: 3px;
            display: block;
            height: 100%;
            margin: 0 auto;
            width: 100%;
        }
    }

    &:not([resolved]) {
        display: inline-block;
        height: @aui-avatar-size-medium;
        vertical-align: text-bottom;
        width: @aui-avatar-size-medium;
    }

    // Size
    &[size="xsmall"] {
        height: @aui-avatar-size-xsmall;
        width: @aui-avatar-size-xsmall;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xsmall;
            max-width: @aui-avatar-size-xsmall;
        }
    }

    &[size="small"] {
        height: @aui-avatar-size-small;
        width: @aui-avatar-size-small;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-small;
            max-width: @aui-avatar-size-small;
        }
    }

    &[size="medium"] {
        height: @aui-avatar-size-medium;
        width: @aui-avatar-size-medium;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-medium;
            max-width: @aui-avatar-size-medium;
        }
    }

    &[size="large"] {
        height: @aui-avatar-size-large;
        width: @aui-avatar-size-large;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-large;
            max-width: @aui-avatar-size-large;
        }
    }

    &[size="xlarge"] {
        height: @aui-avatar-size-xlarge;
        width: @aui-avatar-size-xlarge;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xlarge;
            max-width: @aui-avatar-size-xlarge;
        }
    }

    &[size="xxlarge"] {
        height: @aui-avatar-size-xxlarge;
        width: @aui-avatar-size-xxlarge;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xxlarge;
            max-width: @aui-avatar-size-xxlarge;
        }
    }

    &[size="xxxlarge"] {
        height: @aui-avatar-size-xxxlarge;
        width: @aui-avatar-size-xxxlarge;

        > aui-avatar-inner > .aui-avatar-img {
            max-height: @aui-avatar-size-xxxlarge;
            max-width: @aui-avatar-size-xxxlarge;
        }
    }

    &[size="xxlarge"] > aui-avatar-inner > .aui-avatar-img,
    &[size="xxxlarge"] > aui-avatar-inner > .aui-avatar-img {
        border-radius: 5px;
    }
}

// Other components:
// Header
.aui-header a > aui-avatar {
    vertical-align: top;

    &[size="small"] {
        margin: ((@aui-avatar-size-small - @aui-header-logo-text-font-size) / -2) 0; // -(24px Small Avatar height - 14px font size (line-height 1 in the header)) / 2
    }
}

// Page header
.aui-page-header-image aui-avatar {
    vertical-align: top;
}

// Sidebar
.aui-sidebar .aui-page-header aui-avatar,
.aui-sidebar-submenu .aui-page-header aui-avatar {
    display: block;
}
.aui-sidebar[aria-expanded="false"] .aui-page-header,
.aui-sidebar-submenu[aria-expanded="false"] .aui-page-header {
    aui-avatar {
        height: @aui-sidebar-header-avatar-collapsed;
        margin: 0 0 0 ((@aui-sidebar-collapsed-width - @aui-sidebar-header-avatar-collapsed) / 2);
        width: @aui-sidebar-header-avatar-collapsed;

        > aui-avatar-inner {
            height: inherit;
            width: inherit;

            > img {
                max-height: @aui-sidebar-header-avatar-collapsed;
                max-width: @aui-sidebar-header-avatar-collapsed;
            }
        }
    }
}

// Select2
.aui-select2-container aui-avatar {
    margin-right: 5px;
}
.aui-select2-drop.aui-has-avatar .select2-results .select2-result-label aui-avatar {
    margin-right: 5px;
    vertical-align: middle;
}
